.parent-container{
    display: flex;
    justify-content: center;
    
   
}
.parent-container .input-container{
  width: 30%;     
  margin-top: 50px; 
}
.table-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:50px;
}
.table-container p{
    text-align: center;
    margin-top:10px;
    font-weight: 500;
    font-size: 20px;
}
.report-card{
    margin:20px 50px;
    padding-bottom: 80px;
}
.ant-table{
    border: 1px solid lightgrey;
}
.card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.ant-card-meta-detail .ant-card-meta-title{
    white-space: normal
}
.ant-card{
    cursor: pointer;
}